<app-header></app-header>
<div class="play-page container-fluid py-5">
  <div class="player-wrapper d-flex justify-content-around py-5">
    <div class="player w-50">
      <div class="backdrop-brush rounded shadow">
        <app-player #player *ngIf="connected"
                    [options]="{sources: [{ src: 'https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_30mb.mp4', type: 'video/mp4' }]}"
                    [playForAll]="play" [pauseForAll]="pause" [changeTimeForAll]="changeTime"
                    [setRoomTime]="setRoomTime"
                    [waitForAll]="waitForAll" [userIsReady]="isReady"></app-player>
      </div>
      <form id="copyroomurl" class="d-flex align-items-center mt-4 mb-1 input-group">
        <button type="button" class="btn h-100"><img class="img-fluid h-100" src="/assets/images/invitetoroom.svg">
        </button>
        <input type="text" class="form-control h-100" disabled value="URL">
        <button type="button" class="btn h-100"><img class="img-fluid h-100" src="/assets/images/copy.svg"></button>

      </form>

    </div>
    <div class="chat-wrapper w-25 d-flex justify-content-center flex-column">
      <div class="chat bg-dark p-5 rounded-top shadow h-100">
        <div class="message d-flex">
          <div class="user-avatar-wrapper">
            <div class="user-avatar">
              <img class="img rounded-circle object-fit-fill"
                   src="https://c.animaapp.com/sgl1KaS5/img/image-1-3@2x.png"/>
            </div>
          </div>
          <div class="message-text bg-secondary text-white rounded-5 mx-2 px-5 d-flex  align-items-center">
            <span class="">Цей сервіс просто імба!!!</span>
          </div>
        </div>
        <div class="message d-flex mt-3">
          <div class="user-avatar-wrapper">
            <div class="user-avatar">
              <img class="img rounded-circle object-fit-fill" src="https://picsum.photos/id/870/200/300"/>
            </div>
          </div>
          <div class="message-text bg-secondary text-white rounded-5 mx-2 px-5 py-3 d-flex align-items-center">
            <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor harum hic ipsa magni nostrum nulla quasi quos rem repudiandae vel? Cumque dicta illum labore magnam, magni pariatur recusandae similique sit.</span>
          </div>
        </div>
      </div>
      <div id="messageFormWrapper" class="form-wrapper bg-dark rounded-bottom pb-2 shadow">
        <form class="d-flex align-items-center h-100">
          <div class="w-100 mx-2 h-100">
            <input id="messageText" type="text" class="form-control h-100" placeholder="Текст...">
          </div>
          <div class="mx-2">
            <button class="form-control" id="sendMessage" type="submit">
              <svg height="30" width="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.3166 15.004H5.90797M5.64128 16.2456L4.08685 20.92C3.23549 23.4802 2.80982 24.7602 3.1153 25.5484C3.38058 26.2331 3.95035 26.752 4.65342 26.9496C5.46301 27.177 6.68582 26.6231 9.13143 25.5153L24.8101 18.4126C27.1972 17.3311 28.3908 16.7905 28.7596 16.0393C29.0801 15.3868 29.0801 14.621 28.7596 13.9684C28.3908 13.2174 27.1972 12.6767 24.8101 11.5953L9.10439 4.48042C6.66614 3.37587 5.44703 2.82359 4.63824 3.05015C3.93584 3.2469 3.36613 3.76451 3.09992 4.44781C2.79339 5.23461 3.21451 6.51191 4.05679 9.06651L5.6443 13.8815C5.78895 14.3202 5.86129 14.5397 5.88984 14.764C5.91518 14.9632 5.91491 15.1647 5.88908 15.3637C5.85995 15.588 5.78706 15.8071 5.64128 16.2456Z"
                  stroke="#FCFCFC" stroke-opacity="0.53" stroke-width="5.33333" stroke-linecap="round"
                  stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
