<footer class="bg-dark">
    <div class="container">
        <div class="footer-main d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <div class="brand-side col-md-4 d-flex align-items-center">
                <a href="#" class="px-5  text-decoration-none ">
                    <img class="img-logo" alt="image logo" src="/assets/images/text-logo.png"/>
                </a>
                <span class="mb-3 mb-md-0"> © 2023 Company, Inc</span>
            </div>

            <div class="contacts d-flex flex-column  align-items-left p-5 px2" id="contacts">
                <h5>Контакти</h5>
                <span>Пошта: vibetogether@example.com</span>
                <span>Тел. моб.: +380732526767</span>
                
            </div>

            
            <ul class=" nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a href="#" class="  text-decoration-none ">
                        <img class="logo" alt="logo" src="/assets/images/instagram.svg"/>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="#" class="  text-decoration-none ">
                        <img class="logo" alt="logo" src="/assets/images/facebook.svg"/>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="#" class="  text-decoration-none ">
                        <img class="logo" alt="logo" src="/assets/images/twitter.svg"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>
