<app-header></app-header>

<div class="home-page container-fluid py-5 ">
    <div class="home-wrapper d-flex flex-column align-items-center py-5">
        <div class="create-section align-items-center w-50 my-10">
            <!-- <h1 class="h1 mb-15">Привіт !</h1> -->
            <div class="waviy">
                <span style="--i:1">П</span>
                <span style="--i:2">р</span>
                <span style="--i:3">и</span>
                <span style="--i:4">в</span>
                <span style="--i:5">i</span>
                <span style="--i:6">т</span>
                <span style="--i:7"> !</span>
                <span style="--i:8"> !!</span>
               </div>
            <form class="form-inline m-2">
                <input id="videoUrl" type="search" class="form-control" placeholder="Посилання на відео...">
            </form>
            <a class="btn mt-4" href="play/ee">Створити свою кімнату</a>
        </div>
        <div class="how-it-works w-75 mt-5 py-3">
            <h3>Як це працює?</h3>
            <h4>&darr;</h4>
            <p>Ви створюєте кімнату</p>
            <h4>&darr;</h4>
            <p>Запрошуєте друзів</p>
            <h4>&darr;</h4>
            <p>Обираєте фільм та вставляєте посилання на нього</p>
            <h4>&darr;</h4>
            <p>Насолоджуєтесь спільним переглядом</p>
    
        </div>
        <div class="about-us d-flex justify-content-center w-75 mx-2 my-5 px-5 py-3 d-flex align-items-center" >
            <h3>Про нас</h3>
            <h3 class="mx-5">&rarr;</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sit soluta ad ut porro ullam necessitatibus assumenda nobis 
                placeat autem at, sunt vel dolorem. Molestias quaerat, qui 
                non sunt aspernatur excepturi!</p>
        </div>
        <div class="benefits d-flex">
            <h3>Наші переваги &rarr;</h3>
            <ul>
                <li>спільний перегляд</li>
                <li>Зручний інтерфейс</li>
            </ul>
        </div>

    </div>
    
</div>    


<app-footer></app-footer>
